{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
{#        <form method="POST">#}
{#            {%​csrf_token ​%}​#}
{#            <label>#}
{#                Логин:#}
{#                <input type="text" name="username">#}
{#            </label>#}
{#            <label>#}
{#                Пароль:#}
{#                <input type="password" name="password">#}
{#            </label>#}
{#            <label>#}
{#                Повторите ввод:#}
{#                <input type="password" name="password2">#}
{#            </label>#}
{#            <button type="submit">Зарегистрировать​</button>#}
{#        </form>#}

{#    <h1>{{ header }}</h1>MainPage#}
{% endblock %}