{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h1>Вход</h1>
                {% for error in errors %}
                        <div><p class="text-warning">{{ error }}</p></div>
                {% endfor %}
            </div>
            <form method="POST">{% csrf_token %}
                <label>
                    &emsp;&emsp;&emsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Логин:
                    <input type="text" name="username">
                </label><br />
                <label>
                    &emsp;&emsp;&emsp;&emsp;&nbsp;Пароль:
                    <input type="password" name="password">
                </label><br />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <button type="submit">Войти​</button>
            </form>
        </div>
    </div>


{#    <h1>{{ header }}</h1>MainPage#}
{% endblock %}